### Se modifican las tablas para optimisar espacio y legibilidad de los datos

In [9]:
#se importan las librerias a utilizar
import pandas as pd
import numpy as np

In [10]:
#Se importan las tablas a modificar:

SalesDetail = pd.read_csv ("SalesFINAL12312016.csv", sep=",")
Sales = pd.read_csv ("SalesFINAL12312016.csv", sep=",")
Inventory = pd.read_csv ("ComienzoInv2016.csv", sep=",")
Purchases = pd.read_csv ("PurchasesFINAL12312016.csv", sep= ",")
InvoicePurchases = pd.read_csv ("InvoicePurchases12312016.csv", sep=",")
Suppliers = pd.read_csv ("InvoicePurchases12312016.csv", sep=",")

### SalesDetails

In [11]:
#Se ven las columnas para analisar cuales quedan segun el diagrama entidad relacion hecho.
print (SalesDetail)

                 InventoryId  Store  Brand                 Description  \
0        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
1        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
2        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
3        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
4        1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack
...                      ...    ...    ...                         ...
1048570  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048571  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048572  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048573  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048574  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr

               Size  SalesQuantity  SalesDollars  SalesPrice  SalesDate  \
0             750mL              1         16.49       16.49   1/1/2016
1             750mL              2         32.98       16.49   1/2/2016
2             750mL              1         16.49       16.49   1/3/2016
3             750mL              1         14.49       14.49   1/8/2016
4        375mL 2 Pk              2         69.98       34.99   1/9/2016
...             ...            ...           ...         ...        ...
1048570       750mL              4         51.80       12.95  2/12/2016
1048571       750mL              8        103.60       12.95  2/13/2016
1048572       750mL              1         12.95       12.95  2/19/2016
1048573       750mL              3         38.85       12.95  2/22/2016
1048574       750mL              2         25.90       12.95  2/24/2016

         Volume  Classification  ExciseTax  VendorNo  \
0           750               1       0.79     12546
1           750               1       1.57     12546
2           750               1       0.79     12546
3           750               1       0.79     12546
4           375               1       0.79     12546
...         ...             ...        ...       ...
1048570     750               2       0.45      2000
1048571     750               2       0.90      2000
1048572     750               2       0.11      2000
1048573     750               2       0.34      2000
1048574     750               2       0.22      2000

                          VendorName
0        JIM BEAM BRANDS COMPANY
1        JIM BEAM BRANDS COMPANY
2        JIM BEAM BRANDS COMPANY
3        JIM BEAM BRANDS COMPANY
4        JIM BEAM BRANDS COMPANY
...                              ...
1048570  SOUTHERN WINE & SPIRITS NE
1048571  SOUTHERN WINE & SPIRITS NE
1048572  SOUTHERN WINE & SPIRITS NE
1048573  SOUTHERN WINE & SPIRITS NE
1048574  SOUTHERN WINE & SPIRITS NE

[1048575 rows x 14 columns]

In [12]:
#Se pasan a eliminar las columnas que no son necesarias en esta tabla
# Especificar las columnas que quieres eliminar
columns_to_drop = ['InventoryId', 'Store', 'Brand', 'Description',  'SalesDate', 'Volume', 'Classification', 'ExciseTax', 'VendorName','VendorNo']

# Verificar si las columnas a eliminar existen en el DataFrame
existing_columns_to_drop = [col for col in columns_to_drop if col in SalesDetail.columns]

# Imprimir advertencia para las columnas no encontradas
for col in columns_to_drop:
    if col not in SalesDetail.columns:
        print(f"Advertencia: La columna '{col}' no existe en el DataFrame y no se puede eliminar.")

# Eliminar las columnas especificadas que existen
SalesDetail.drop(columns=existing_columns_to_drop, axis=1, inplace=True)

In [13]:
#Se ven las columnas para analisar cuales quedan segun el diagrama entidad relacion hecho.
print (SalesDetail)

               Size  SalesQuantity  SalesDollars  SalesPrice
0             750mL              1         16.49       16.49
1             750mL              2         32.98       16.49
2             750mL              1         16.49       16.49
3             750mL              1         14.49       14.49
4        375mL 2 Pk              2         69.98       34.99
...             ...            ...           ...         ...
1048570       750mL              4         51.80       12.95
1048571       750mL              8        103.60       12.95
1048572       750mL              1         12.95       12.95
1048573       750mL              3         38.85       12.95
1048574       750mL              2         25.90       12.95

[1048575 rows x 4 columns]

In [14]:
#Se crea la columna indice con el nombre correspondiente
SalesDetail['DetailSalesID'] = range(1, len(SalesDetail) + 1)
SalesDetail['IDSales'] = range(1, len(SalesDetail) + 1)

In [15]:
print (SalesDetail)

               Size  SalesQuantity  SalesDollars  SalesPrice  DetailSalesID  \
0             750mL              1         16.49       16.49              1
1             750mL              2         32.98       16.49              2
2             750mL              1         16.49       16.49              3
3             750mL              1         14.49       14.49              4
4        375mL 2 Pk              2         69.98       34.99              5
...             ...            ...           ...         ...            ...
1048570       750mL              4         51.80       12.95        1048571
1048571       750mL              8        103.60       12.95        1048572
1048572       750mL              1         12.95       12.95        1048573
1048573       750mL              3         38.85       12.95        1048574
1048574       750mL              2         25.90       12.95        1048575

         IDSales
0              1
1              2
2              3
3              4
4              5
...          ...
1048570  1048571
1048571  1048572
1048572  1048573
1048573  1048574
1048574  1048575

[1048575 rows x 6 columns]

### Sales

In [16]:
print (Sales)

                 InventoryId  Store  Brand                 Description  \
0        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
1        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
2        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
3        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
4        1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack
...                      ...    ...    ...                         ...
1048570  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048571  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048572  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048573  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048574  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr

               Size  SalesQuantity  SalesDollars  SalesPrice  SalesDate  \
0             750mL              1         16.49       16.49   1/1/2016
1             750mL              2         32.98       16.49   1/2/2016
2             750mL              1         16.49       16.49   1/3/2016
3             750mL              1         14.49       14.49   1/8/2016
4        375mL 2 Pk              2         69.98       34.99   1/9/2016
...             ...            ...           ...         ...        ...
1048570       750mL              4         51.80       12.95  2/12/2016
1048571       750mL              8        103.60       12.95  2/13/2016
1048572       750mL              1         12.95       12.95  2/19/2016
1048573       750mL              3         38.85       12.95  2/22/2016
1048574       750mL              2         25.90       12.95  2/24/2016

         Volume  Classification  ExciseTax  VendorNo  \
0           750               1       0.79     12546
1           750               1       1.57     12546
2           750               1       0.79     12546
3           750               1       0.79     12546
4           375               1       0.79     12546
...         ...             ...        ...       ...
1048570     750               2       0.45      2000
1048571     750               2       0.90      2000
1048572     750               2       0.11      2000
1048573     750               2       0.34      2000
1048574     750               2       0.22      2000

                          VendorName
0        JIM BEAM BRANDS COMPANY
1        JIM BEAM BRANDS COMPANY
2        JIM BEAM BRANDS COMPANY
3        JIM BEAM BRANDS COMPANY
4        JIM BEAM BRANDS COMPANY
...                              ...
1048570  SOUTHERN WINE & SPIRITS NE
1048571  SOUTHERN WINE & SPIRITS NE
1048572  SOUTHERN WINE & SPIRITS NE
1048573  SOUTHERN WINE & SPIRITS NE
1048574  SOUTHERN WINE & SPIRITS NE

[1048575 rows x 14 columns]

In [17]:
#Se pasan a eliminar las columnas que no son necesarias en esta tabla
# Especificar las columnas que quieres eliminar
columns_to_drop = ['InventoryId', 'Brand', 'Description', 'Size', 'SalesQuantity', 'SalesDollars', 'SalesPrice', 'Volume', 'Classification', 'VendorName','VendorNo']

# Verificar si las columnas a eliminar existen en el DataFrame
existing_columns_to_drop = [col for col in columns_to_drop if col in Sales.columns]

# Imprimir advertencia para las columnas no encontradas
for col in columns_to_drop:
    if col not in Sales.columns:
        print(f"Advertencia: La columna '{col}' no existe en el DataFrame y no se puede eliminar.")

# Eliminar las columnas especificadas que existen
Sales.drop(columns=existing_columns_to_drop, axis=1, inplace=True)

In [18]:
print (Sales)

         Store  SalesDate  ExciseTax
0            1   1/1/2016       0.79
1            1   1/2/2016       1.57
2            1   1/3/2016       0.79
3            1   1/8/2016       0.79
4            1   1/9/2016       0.79
...        ...        ...        ...
1048570     19  2/12/2016       0.45
1048571     19  2/13/2016       0.90
1048572     19  2/19/2016       0.11
1048573     19  2/22/2016       0.34
1048574     19  2/24/2016       0.22

[1048575 rows x 3 columns]

In [19]:
#Se crea la columna indice con el nombre correspondiente
Sales['IDSales'] = range(1, len(Sales) + 1)

In [20]:
print (Sales)

         Store  SalesDate  ExciseTax  IDSales
0            1   1/1/2016       0.79        1
1            1   1/2/2016       1.57        2
2            1   1/3/2016       0.79        3
3            1   1/8/2016       0.79        4
4            1   1/9/2016       0.79        5
...        ...        ...        ...      ...
1048570     19  2/12/2016       0.45  1048571
1048571     19  2/13/2016       0.90  1048572
1048572     19  2/19/2016       0.11  1048573
1048573     19  2/22/2016       0.34  1048574
1048574     19  2/24/2016       0.22  1048575

[1048575 rows x 4 columns]

### Inventory

In [21]:
#Se ven las columnas para analisar cuales quedan segun el diagrama entidad relacion hecho.
print (Inventory)

                    Brand1  Store          City  InventoryId1  \
0        1_HARDERSFIELD_58      1  HARDERSFIELD            58
1        1_HARDERSFIELD_60      1  HARDERSFIELD            60
2        1_HARDERSFIELD_62      1  HARDERSFIELD            62
3        1_HARDERSFIELD_63      1  HARDERSFIELD            63
4        1_HARDERSFIELD_72      1  HARDERSFIELD            72
...                    ...    ...           ...           ...
206524  79_BALLYMENA_46985     79     BALLYMENA         46985
206525  79_BALLYMENA_47014     79     BALLYMENA         47014
206526  79_BALLYMENA_47090     79     BALLYMENA         47090
206527  79_BALLYMENA_90011     79     BALLYMENA         90011
206528  79_BALLYMENA_90089     79     BALLYMENA         90089

                         Description   Size  onHand   Price   startDate
0        Gekkeikan Black & Gold Sake  750mL       8   12.99  2016-01-01
1             Canadian Club 1858 VAP  750mL       7   10.99  2016-01-01
2           Herradura Silver Tequila  750mL       6   36.99  2016-01-01
3         Herradura Reposado Tequila  750mL       3   38.99  2016-01-01
4               No. 3 London Dry Gin  750mL       6   34.99  2016-01-01
...                              ...    ...     ...     ...         ...
206524  Rodney Strong Cab Svgn Alexa  750mL      13   22.99  2016-01-01
206525           Juan Gil Jumilla Rd  750mL      13   13.99  2016-01-01
206526    Napa Cellars Cab Svgn Napa  750mL      19   23.99  2016-01-01
206527  Ch Pichon Longville 12 Pauil  750mL      12  144.99  2016-01-01
206528    Ch Lynch Bages 12 Pauillac  750mL      24  119.99  2016-01-01

[206529 rows x 9 columns]

In [22]:
#Se pasan a eliminar las columnas que no son necesarias en esta tabla
# Especificar las columnas que quieres eliminar
columns_to_drop = ['Brand']

# Verificar si las columnas a eliminar existen en el DataFrame
existing_columns_to_drop = [col for col in columns_to_drop if col in Inventory.columns]

# Imprimir advertencia para las columnas no encontradas
for col in columns_to_drop:
    if col not in Inventory.columns:
        print(f"Advertencia: La columna '{col}' no existe en el DataFrame y no se puede eliminar.")

# Eliminar las columnas especificadas que existen
Inventory.drop(columns=existing_columns_to_drop, axis=1, inplace=True)

Advertencia: La columna 'Brand' no existe en el DataFrame y no se puede eliminar.

In [23]:
print (Inventory)

                    Brand1  Store          City  InventoryId1  \
0        1_HARDERSFIELD_58      1  HARDERSFIELD            58
1        1_HARDERSFIELD_60      1  HARDERSFIELD            60
2        1_HARDERSFIELD_62      1  HARDERSFIELD            62
3        1_HARDERSFIELD_63      1  HARDERSFIELD            63
4        1_HARDERSFIELD_72      1  HARDERSFIELD            72
...                    ...    ...           ...           ...
206524  79_BALLYMENA_46985     79     BALLYMENA         46985
206525  79_BALLYMENA_47014     79     BALLYMENA         47014
206526  79_BALLYMENA_47090     79     BALLYMENA         47090
206527  79_BALLYMENA_90011     79     BALLYMENA         90011
206528  79_BALLYMENA_90089     79     BALLYMENA         90089

                         Description   Size  onHand   Price   startDate
0        Gekkeikan Black & Gold Sake  750mL       8   12.99  2016-01-01
1             Canadian Club 1858 VAP  750mL       7   10.99  2016-01-01
2           Herradura Silver Tequila  750mL       6   36.99  2016-01-01
3         Herradura Reposado Tequila  750mL       3   38.99  2016-01-01
4               No. 3 London Dry Gin  750mL       6   34.99  2016-01-01
...                              ...    ...     ...     ...         ...
206524  Rodney Strong Cab Svgn Alexa  750mL      13   22.99  2016-01-01
206525           Juan Gil Jumilla Rd  750mL      13   13.99  2016-01-01
206526    Napa Cellars Cab Svgn Napa  750mL      19   23.99  2016-01-01
206527  Ch Pichon Longville 12 Pauil  750mL      12  144.99  2016-01-01
206528    Ch Lynch Bages 12 Pauillac  750mL      24  119.99  2016-01-01

[206529 rows x 9 columns]

### Purchases

In [24]:
#Se ven las columnas para analisar cuales quedan segun el diagrama entidad relacion hecho.
print (Purchases)

                    Brand1  Store  InventoryId1                  Description  \
0       55_DRY GULCH_24921     55         24921           Appolo Vyds Seyval
1          10_HORNSEY_4247     10          4247            Bacardi Limon Rum
2        34_PITMERDEN_7221     34          7221         M & R Sweet Vermouth
3        32_MOUNTMEND_7977     32          7977         M & R X Dry Vermouth
4       66_EANVERNESS_4246     66          4246         Bacardi Superior Rum
...                    ...    ...           ...                          ...
829148   73_DONCASTER_4796     73          4796         Caravella Limoncello
829149  62_KILMARNOCK_4783     62          4783     Mr Boston Apricot Brandy
829150     15_WANBORNE_113     15           113  Mr Boston Cr de Cacao Brown
829151     60_IRRAGIN_3684     60          3684     Fleischmanns Royal Vodka
829152   34_PITMERDEN_3687     34          3687  Fleischmanns Royal Traveler

         Size  VendorNumber                   VendorName  PONumber  \
0       750mL           287  APPOLO VINEYARDS LLC             8287
1       750mL           480  BACARDI USA INC                  8288
2        1.5L           480  BACARDI USA INC                  8288
3        1.5L           480  BACARDI USA INC                  8288
4       375mL           480  BACARDI USA INC                  8288
...       ...           ...                          ...       ...
829148  750mL           660  SAZERAC NORTH AMERICA INC.      10401
829149  1.75L           660  SAZERAC NORTH AMERICA INC.      10401
829150  Liter           660  SAZERAC NORTH AMERICA INC.      10401
829151  1.75L           660  SAZERAC NORTH AMERICA INC.      10401
829152  750mL           660  SAZERAC NORTH AMERICA INC.      10401

            PODate ReceivingDate InvoiceDate     PayDate  PurchasePrice  \
0       2016-01-01    2016-01-06  2016-01-13  2016-02-18          10.40
1       2016-01-01    2016-01-06  2016-01-19  2016-02-18           7.99
2       2016-01-01    2016-01-07  2016-01-19  2016-02-18           6.86
3       2016-01-01    2016-01-08  2016-01-19  2016-02-18           7.49
4       2016-01-01    2016-01-04  2016-01-19  2016-02-18           4.22
...            ...           ...         ...         ...            ...
829148  2016-05-26    2016-06-03  2016-06-13  2016-07-10          12.31
829149  2016-05-26    2016-05-30  2016-06-13  2016-07-10           8.88
829150  2016-05-26    2016-05-30  2016-06-13  2016-07-10           4.84
829151  2016-05-26    2016-06-03  2016-06-13  2016-07-10           7.68
829152  2016-05-26    2016-06-03  2016-06-13  2016-07-10           3.84

        Quantity  Dollars  Classification
0             12   124.80               2
1             12    95.88               1
2              2    13.72               2
3              6    44.94               1
4             24   101.28               1
...          ...      ...             ...
829148         5    61.55               1
829149         5    44.40               1
829150        12    58.08               1
829151         1     7.68               1
829152         8    30.72               1

[829153 rows x 16 columns]

In [25]:
#Se pasan a eliminar las columnas que no son necesarias en esta tabla
# Especificar las columnas que quieres eliminar
columns_to_drop = ['Store', 'InventoryId1', 'Description', 'Size', 'VendorNumber', 'VendorName', 'InvoiceDate', 'PayDate']

# Verificar si las columnas a eliminar existen en el DataFrame
existing_columns_to_drop = [col for col in columns_to_drop if col in Purchases.columns]

# Imprimir advertencia para las columnas no encontradas
for col in columns_to_drop:
    if col not in Purchases.columns:
        print(f"Advertencia: La columna '{col}' no existe en el DataFrame y no se puede eliminar.")

# Eliminar las columnas especificadas que existen
Purchases.drop(columns=existing_columns_to_drop, axis=1, inplace=True)

In [26]:
print (Purchases)

                    Brand1  PONumber      PODate ReceivingDate  PurchasePrice  \
0       55_DRY GULCH_24921      8287  2016-01-01    2016-01-06          10.40
1          10_HORNSEY_4247      8288  2016-01-01    2016-01-06           7.99
2        34_PITMERDEN_7221      8288  2016-01-01    2016-01-07           6.86
3        32_MOUNTMEND_7977      8288  2016-01-01    2016-01-08           7.49
4       66_EANVERNESS_4246      8288  2016-01-01    2016-01-04           4.22
...                    ...       ...         ...           ...            ...
829148   73_DONCASTER_4796     10401  2016-05-26    2016-06-03          12.31
829149  62_KILMARNOCK_4783     10401  2016-05-26    2016-05-30           8.88
829150     15_WANBORNE_113     10401  2016-05-26    2016-05-30           4.84
829151     60_IRRAGIN_3684     10401  2016-05-26    2016-06-03           7.68
829152   34_PITMERDEN_3687     10401  2016-05-26    2016-06-03           3.84

        Quantity  Dollars  Classification
0             12   124.80               2
1             12    95.88               1
2              2    13.72               2
3              6    44.94               1
4             24   101.28               1
...          ...      ...             ...
829148         5    61.55               1
829149         5    44.40               1
829150        12    58.08               1
829151         1     7.68               1
829152         8    30.72               1

[829153 rows x 8 columns]

In [27]:
#Se crea la columna indice con el nombre correspondiente
Purchases['IDPurchases'] = range(1, len(Purchases) + 1)

In [28]:
print (Purchases)

                    Brand1  PONumber      PODate ReceivingDate  PurchasePrice  \
0       55_DRY GULCH_24921      8287  2016-01-01    2016-01-06          10.40
1          10_HORNSEY_4247      8288  2016-01-01    2016-01-06           7.99
2        34_PITMERDEN_7221      8288  2016-01-01    2016-01-07           6.86
3        32_MOUNTMEND_7977      8288  2016-01-01    2016-01-08           7.49
4       66_EANVERNESS_4246      8288  2016-01-01    2016-01-04           4.22
...                    ...       ...         ...           ...            ...
829148   73_DONCASTER_4796     10401  2016-05-26    2016-06-03          12.31
829149  62_KILMARNOCK_4783     10401  2016-05-26    2016-05-30           8.88
829150     15_WANBORNE_113     10401  2016-05-26    2016-05-30           4.84
829151     60_IRRAGIN_3684     10401  2016-05-26    2016-06-03           7.68
829152   34_PITMERDEN_3687     10401  2016-05-26    2016-06-03           3.84

        Quantity  Dollars  Classification  IDPurchases
0             12   124.80               2            1
1             12    95.88               1            2
2              2    13.72               2            3
3              6    44.94               1            4
4             24   101.28               1            5
...          ...      ...             ...          ...
829148         5    61.55               1       829149
829149         5    44.40               1       829150
829150        12    58.08               1       829151
829151         1     7.68               1       829152
829152         8    30.72               1       829153

[829153 rows x 9 columns]

### InvoicePurchases

In [29]:
print (InvoicePurchases)

      VendorNumber                   VendorName InvoiceDate  PONumber  \
0              105  ALTAMAR BRANDS LLC           2016-01-04      8124
1             4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2              388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3              480  BACARDI USA INC              2016-01-12      8106
4              516  BANFI PRODUCTS CORP          2016-01-07      8170
...            ...                          ...         ...       ...
5538          9622  WEIN BAUER INC               2017-01-06     13626
5539          9625  WESTERN SPIRITS BEVERAGE CO  2017-01-10     13661
5540          3664  WILLIAM GRANT & SONS INC     2017-01-02     13643
5541          9815  WINE GROUP INC               2017-01-03     13602
5542         90058  ZORVINO VINEYARDS            2017-01-05     13574

          PODate     PayDate  Quantity    Dollars  Freight Approval
0     2015-12-21  2016-02-16         6     214.26     3.47      NaN
1     2015-12-22  2016-02-21        15     140.55     8.57      NaN
2     2015-12-24  2016-02-16         5     106.60     4.61      NaN
3     2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4     2015-12-24  2016-02-12      1935   15527.25   429.20      NaN
...          ...         ...       ...        ...      ...      ...
5538  2016-12-21  2017-02-10        90    1563.00     8.60      NaN
5539  2016-12-23  2017-02-18      4617   37300.48   186.50      NaN
5540  2016-12-22  2017-02-04      9848  202815.78   932.95      NaN
5541  2016-12-20  2017-02-08     24747  149007.56   819.54      NaN
5542  2016-12-18  2017-02-12       437    3608.11    16.60      NaN

[5543 rows x 10 columns]

In [30]:
#Se pasan a eliminar las columnas que no son necesarias en esta tabla
# Especificar las columnas que quieres eliminar
columns_to_drop = ['VendorName', 'PONumber', 'Quantity', 'Dollars']

# Verificar si las columnas a eliminar existen en el DataFrame
existing_columns_to_drop = [col for col in columns_to_drop if col in InvoicePurchases.columns]

# Imprimir advertencia para las columnas no encontradas
for col in columns_to_drop:
    if col not in InvoicePurchases.columns:
        print(f"Advertencia: La columna '{col}' no existe en el DataFrame y no se puede eliminar.")

# Eliminar las columnas especificadas que existen
InvoicePurchases.drop(columns=existing_columns_to_drop, axis=1, inplace=True)

In [31]:
print (InvoicePurchases)

      VendorNumber InvoiceDate      PODate     PayDate  Freight Approval
0              105  2016-01-04  2015-12-21  2016-02-16     3.47      NaN
1             4466  2016-01-07  2015-12-22  2016-02-21     8.57      NaN
2              388  2016-01-09  2015-12-24  2016-02-16     4.61      NaN
3              480  2016-01-12  2015-12-20  2016-02-05  2935.20      NaN
4              516  2016-01-07  2015-12-24  2016-02-12   429.20      NaN
...            ...         ...         ...         ...      ...      ...
5538          9622  2017-01-06  2016-12-21  2017-02-10     8.60      NaN
5539          9625  2017-01-10  2016-12-23  2017-02-18   186.50      NaN
5540          3664  2017-01-02  2016-12-22  2017-02-04   932.95      NaN
5541          9815  2017-01-03  2016-12-20  2017-02-08   819.54      NaN
5542         90058  2017-01-05  2016-12-18  2017-02-12    16.60      NaN

[5543 rows x 6 columns]

In [32]:
#Se crea la columna indice con el nombre correspondiente
InvoicePurchases['IDInvoicePurchases'] = range(1, len(InvoicePurchases) + 1)
InvoicePurchases['IDPurchases'] = range(1, len(InvoicePurchases) + 1)

In [33]:
print (InvoicePurchases)

      VendorNumber InvoiceDate      PODate     PayDate  Freight Approval  \
0              105  2016-01-04  2015-12-21  2016-02-16     3.47      NaN
1             4466  2016-01-07  2015-12-22  2016-02-21     8.57      NaN
2              388  2016-01-09  2015-12-24  2016-02-16     4.61      NaN
3              480  2016-01-12  2015-12-20  2016-02-05  2935.20      NaN
4              516  2016-01-07  2015-12-24  2016-02-12   429.20      NaN
...            ...         ...         ...         ...      ...      ...
5538          9622  2017-01-06  2016-12-21  2017-02-10     8.60      NaN
5539          9625  2017-01-10  2016-12-23  2017-02-18   186.50      NaN
5540          3664  2017-01-02  2016-12-22  2017-02-04   932.95      NaN
5541          9815  2017-01-03  2016-12-20  2017-02-08   819.54      NaN
5542         90058  2017-01-05  2016-12-18  2017-02-12    16.60      NaN

      IDInvoicePurchases  IDPurchases
0                      1            1
1                      2            2
2                      3            3
3                      4            4
4                      5            5
...                  ...          ...
5538                5539         5539
5539                5540         5540
5540                5541         5541
5541                5542         5542
5542                5543         5543

[5543 rows x 8 columns]

### Suppliers

In [34]:
print (Suppliers)

      VendorNumber                   VendorName InvoiceDate  PONumber  \
0              105  ALTAMAR BRANDS LLC           2016-01-04      8124
1             4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2              388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3              480  BACARDI USA INC              2016-01-12      8106
4              516  BANFI PRODUCTS CORP          2016-01-07      8170
...            ...                          ...         ...       ...
5538          9622  WEIN BAUER INC               2017-01-06     13626
5539          9625  WESTERN SPIRITS BEVERAGE CO  2017-01-10     13661
5540          3664  WILLIAM GRANT & SONS INC     2017-01-02     13643
5541          9815  WINE GROUP INC               2017-01-03     13602
5542         90058  ZORVINO VINEYARDS            2017-01-05     13574

          PODate     PayDate  Quantity    Dollars  Freight Approval
0     2015-12-21  2016-02-16         6     214.26     3.47      NaN
1     2015-12-22  2016-02-21        15     140.55     8.57      NaN
2     2015-12-24  2016-02-16         5     106.60     4.61      NaN
3     2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4     2015-12-24  2016-02-12      1935   15527.25   429.20      NaN
...          ...         ...       ...        ...      ...      ...
5538  2016-12-21  2017-02-10        90    1563.00     8.60      NaN
5539  2016-12-23  2017-02-18      4617   37300.48   186.50      NaN
5540  2016-12-22  2017-02-04      9848  202815.78   932.95      NaN
5541  2016-12-20  2017-02-08     24747  149007.56   819.54      NaN
5542  2016-12-18  2017-02-12       437    3608.11    16.60      NaN

[5543 rows x 10 columns]

In [35]:
#Se pasan a eliminar las columnas que no son necesarias en esta tabla
# Especificar las columnas que quieres eliminar
columns_to_drop = ['Approval', 'Freight', 'Dollars', 'Quantity', 'PayDate', 'PODate', 'PONumber', 'InvoiceDate']

# Verificar si las columnas a eliminar existen en el DataFrame
existing_columns_to_drop = [col for col in columns_to_drop if col in Suppliers.columns]

# Imprimir advertencia para las columnas no encontradas
for col in columns_to_drop:
    if col not in Suppliers.columns:
        print(f"Advertencia: La columna '{col}' no existe en el DataFrame y no se puede eliminar.")

# Eliminar las columnas especificadas que existen
Suppliers.drop(columns=existing_columns_to_drop, axis=1, inplace=True)

In [36]:
print (Suppliers)

      VendorNumber                   VendorName
0              105  ALTAMAR BRANDS LLC
1             4466  AMERICAN VINTAGE BEVERAGE
2              388  ATLANTIC IMPORTING COMPANY
3              480  BACARDI USA INC
4              516  BANFI PRODUCTS CORP
...            ...                          ...
5538          9622  WEIN BAUER INC
5539          9625  WESTERN SPIRITS BEVERAGE CO
5540          3664  WILLIAM GRANT & SONS INC
5541          9815  WINE GROUP INC
5542         90058  ZORVINO VINEYARDS

[5543 rows x 2 columns]

### Limpieza

In [37]:
# Lista de DataFrames
dataframes = [SalesDetail, Sales, Inventory, Purchases, InvoicePurchases, Suppliers]

# Cambiar el nombre de la columna si existe
for df in dataframes:
    if 'InventoryId' in df.columns:
        df.rename(columns={'InventoryId': 'Brand'}, inplace=True)

In [38]:
# Imprimimos los dataframe para ver que se hayan realizado los cambios 
print (SalesDetail,Sales,Inventory,Purchases,InvoicePurchases,Suppliers)

               Size  SalesQuantity  SalesDollars  SalesPrice  DetailSalesID  \
0             750mL              1         16.49       16.49              1
1             750mL              2         32.98       16.49              2
2             750mL              1         16.49       16.49              3
3             750mL              1         14.49       14.49              4
4        375mL 2 Pk              2         69.98       34.99              5
...             ...            ...           ...         ...            ...
1048570       750mL              4         51.80       12.95        1048571
1048571       750mL              8        103.60       12.95        1048572
1048572       750mL              1         12.95       12.95        1048573
1048573       750mL              3         38.85       12.95        1048574
1048574       750mL              2         25.90       12.95        1048575

         IDSales
0              1
1              2
2              3
3              4
4              5
...          ...
1048570  1048571
1048571  1048572
1048572  1048573
1048573  1048574
1048574  1048575

[1048575 rows x 6 columns]          Store  SalesDate  ExciseTax  IDSales
0            1   1/1/2016       0.79        1
1            1   1/2/2016       1.57        2
2            1   1/3/2016       0.79        3
3            1   1/8/2016       0.79        4
4            1   1/9/2016       0.79        5
...        ...        ...        ...      ...
1048570     19  2/12/2016       0.45  1048571
1048571     19  2/13/2016       0.90  1048572
1048572     19  2/19/2016       0.11  1048573
1048573     19  2/22/2016       0.34  1048574
1048574     19  2/24/2016       0.22  1048575

[1048575 rows x 4 columns]                     Brand1  Store          City  InventoryId1  \
0        1_HARDERSFIELD_58      1  HARDERSFIELD            58
1        1_HARDERSFIELD_60      1  HARDERSFIELD            60
2        1_HARDERSFIELD_62      1  HARDERSFIELD            62
3        1_HARDERSFIELD_63      1  HARDERSFIELD            63
4        1_HARDERSFIELD_72      1  HARDERSFIELD            72
...                    ...    ...           ...           ...
206524  79_BALLYMENA_46985     79     BALLYMENA         46985
206525  79_BALLYMENA_47014     79     BALLYMENA         47014
206526  79_BALLYMENA_47090     79     BALLYMENA         47090
206527  79_BALLYMENA_90011     79     BALLYMENA         90011
206528  79_BALLYMENA_90089     79     BALLYMENA         90089

                         Description   Size  onHand   Price   startDate
0        Gekkeikan Black & Gold Sake  750mL       8   12.99  2016-01-01
1             Canadian Club 1858 VAP  750mL       7   10.99  2016-01-01
2           Herradura Silver Tequila  750mL       6   36.99  2016-01-01
3         Herradura Reposado Tequila  750mL       3   38.99  2016-01-01
4               No. 3 London Dry Gin  750mL       6   34.99  2016-01-01
...                              ...    ...     ...     ...         ...
206524  Rodney Strong Cab Svgn Alexa  750mL      13   22.99  2016-01-01
206525           Juan Gil Jumilla Rd  750mL      13   13.99  2016-01-01
206526    Napa Cellars Cab Svgn Napa  750mL      19   23.99  2016-01-01
206527  Ch Pichon Longville 12 Pauil  750mL      12  144.99  2016-01-01
206528    Ch Lynch Bages 12 Pauillac  750mL      24  119.99  2016-01-01

[206529 rows x 9 columns]                     Brand1  PONumber      PODate ReceivingDate  PurchasePrice  \
0       55_DRY GULCH_24921      8287  2016-01-01    2016-01-06          10.40
1          10_HORNSEY_4247      8288  2016-01-01    2016-01-06           7.99
2        34_PITMERDEN_7221      8288  2016-01-01    2016-01-07           6.86
3        32_MOUNTMEND_7977      8288  2016-01-01    2016-01-08           7.49
4       66_EANVERNESS_4246      8288  2016-01-01    2016-01-04           4.22
...                    ...       ...         ...           ...            ...
829148   73_DONCASTER_4796     10401  2016-05-26    2016-06-03          12.31
829149  62_KILMARNOCK_4783     10401  2016-05-26    2016-05-30           8.88
829150     15_WANBORNE_113     10401  2016-05-26    2016-05-30           4.84
829151     60_IRRAGIN_3684     10401  2016-05-26    2016-06-03           7.68
829152   34_PITMERDEN_3687     10401  2016-05-26    2016-06-03           3.84

        Quantity  Dollars  Classification  IDPurchases
0             12   124.80               2            1
1             12    95.88               1            2
2              2    13.72               2            3
3              6    44.94               1            4
4             24   101.28               1            5
...          ...      ...             ...          ...
829148         5    61.55               1       829149
829149         5    44.40               1       829150
829150        12    58.08               1       829151
829151         1     7.68               1       829152
829152         8    30.72               1       829153

[829153 rows x 9 columns]       VendorNumber InvoiceDate      PODate     PayDate  Freight Approval  \
0              105  2016-01-04  2015-12-21  2016-02-16     3.47      NaN
1             4466  2016-01-07  2015-12-22  2016-02-21     8.57      NaN
2              388  2016-01-09  2015-12-24  2016-02-16     4.61      NaN
3              480  2016-01-12  2015-12-20  2016-02-05  2935.20      NaN
4              516  2016-01-07  2015-12-24  2016-02-12   429.20      NaN
...            ...         ...         ...         ...      ...      ...
5538          9622  2017-01-06  2016-12-21  2017-02-10     8.60      NaN
5539          9625  2017-01-10  2016-12-23  2017-02-18   186.50      NaN
5540          3664  2017-01-02  2016-12-22  2017-02-04   932.95      NaN
5541          9815  2017-01-03  2016-12-20  2017-02-08   819.54      NaN
5542         90058  2017-01-05  2016-12-18  2017-02-12    16.60      NaN

      IDInvoicePurchases  IDPurchases
0                      1            1
1                      2            2
2                      3            3
3                      4            4
4                      5            5
...                  ...          ...
5538                5539         5539
5539                5540         5540
5540                5541         5541
5541                5542         5542
5542                5543         5543

[5543 rows x 8 columns]       VendorNumber                   VendorName
0              105  ALTAMAR BRANDS LLC
1             4466  AMERICAN VINTAGE BEVERAGE
2              388  ATLANTIC IMPORTING COMPANY
3              480  BACARDI USA INC
4              516  BANFI PRODUCTS CORP
...            ...                          ...
5538          9622  WEIN BAUER INC
5539          9625  WESTERN SPIRITS BEVERAGE CO
5540          3664  WILLIAM GRANT & SONS INC
5541          9815  WINE GROUP INC
5542         90058  ZORVINO VINEYARDS

[5543 rows x 2 columns]

In [39]:
# Limpiar duplicados en cada DataFrame
for i, df in enumerate(dataframes):
    dataframes[i] = df.drop_duplicates()

In [40]:
# Opcional: Mostrar los DataFrames actualizados para verificar
for df in dataframes:
    print(df.head())

         Size  SalesQuantity  SalesDollars  SalesPrice  DetailSalesID  IDSales
0       750mL              1         16.49       16.49              1        1
1       750mL              2         32.98       16.49              2        2
2       750mL              1         16.49       16.49              3        3
3       750mL              1         14.49       14.49              4        4
4  375mL 2 Pk              2         69.98       34.99              5        5
   Store SalesDate  ExciseTax  IDSales
0      1  1/1/2016       0.79        1
1      1  1/2/2016       1.57        2
2      1  1/3/2016       0.79        3
3      1  1/8/2016       0.79        4
4      1  1/9/2016       0.79        5
              Brand1  Store          City  InventoryId1  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD            58
1  1_HARDERSFIELD_60      1  HARDERSFIELD            60
2  1_HARDERSFIELD_62      1  HARDERSFIELD            62
3  1_HARDERSFIELD_63      1  HARDERSFIELD            63
4  1_HARDERSFIELD_72      1  HARDERSFIELD            72

                   Description   Size  onHand  Price   startDate
0  Gekkeikan Black & Gold Sake  750mL       8  12.99  2016-01-01
1       Canadian Club 1858 VAP  750mL       7  10.99  2016-01-01
2     Herradura Silver Tequila  750mL       6  36.99  2016-01-01
3   Herradura Reposado Tequila  750mL       3  38.99  2016-01-01
4         No. 3 London Dry Gin  750mL       6  34.99  2016-01-01
               Brand1  PONumber      PODate ReceivingDate  PurchasePrice  \
0  55_DRY GULCH_24921      8287  2016-01-01    2016-01-06          10.40
1     10_HORNSEY_4247      8288  2016-01-01    2016-01-06           7.99
2   34_PITMERDEN_7221      8288  2016-01-01    2016-01-07           6.86
3   32_MOUNTMEND_7977      8288  2016-01-01    2016-01-08           7.49
4  66_EANVERNESS_4246      8288  2016-01-01    2016-01-04           4.22

   Quantity  Dollars  Classification  IDPurchases
0        12   124.80               2            1
1        12    95.88               1            2
2         2    13.72               2            3
3         6    44.94               1            4
4        24   101.28               1            5
   VendorNumber InvoiceDate      PODate     PayDate  Freight Approval  \
0           105  2016-01-04  2015-12-21  2016-02-16     3.47      NaN
1          4466  2016-01-07  2015-12-22  2016-02-21     8.57      NaN
2           388  2016-01-09  2015-12-24  2016-02-16     4.61      NaN
3           480  2016-01-12  2015-12-20  2016-02-05  2935.20      NaN
4           516  2016-01-07  2015-12-24  2016-02-12   429.20      NaN

   IDInvoicePurchases  IDPurchases
0                   1            1
1                   2            2
2                   3            3
3                   4            4
4                   5            5
   VendorNumber                   VendorName
0           105  ALTAMAR BRANDS LLC
1          4466  AMERICAN VINTAGE BEVERAGE
2           388  ATLANTIC IMPORTING COMPANY
3           480  BACARDI USA INC
4           516  BANFI PRODUCTS CORP

In [41]:
# Limpiar nulos en cada DataFrame
for i, df in enumerate(dataframes):
    dataframes[i] = df.dropna()

In [42]:
#Guardamos el dataset final con las filtraciones requeridas y limpio

SalesDetail.to_csv('SalesDetail.csv',index=False)
Sales.to_csv('Sales.csv',index=False)
Inventory.to_csv('Inventory.csv',index=False)
Purchases.to_csv('Purchases.csv',index=False)
InvoicePurchases.to_csv('InvoicePurchases.csv',index=False)
Suppliers.to_csv('Suppliers.csv',index=False)

### Coneccion

In [48]:
import pandas as pd
from sqlalchemy import create_engine
import urllib

# Define tu servidor y base de datos
server = 'localhost\\SQLEXPRESS'
database = 'DrinksBasket'

# Forma la cadena de conexin con urllib
params = urllib.parse.quote_plus(
    f"DRIVER={{ODBC Driver 17 for SQL Server}};"
    f"SERVER={server};"
    f"DATABASE={database};"
    "Trusted_Connection=yes;"
)

# Crea el motor de conexin
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

# Lista de archivos CSV y nombres de tablas
csv_files = ['SalesDetail.csv', 'Sales.csv', 'Inventory.csv', 'Purchases.csv', 'InvoicePurchases.csv', 'Suppliers.csv']
table_names = ['SalesDetail', 'Sales', 'Inventory', 'Purchases', 'InvoicePurchases', 'Suppliers']

# Funcin para eliminar las restricciones de clave externa
def drop_foreign_keys(table_name):
    with engine.connect() as conn:
        fk_query = f"""
        SELECT constraint_name
        FROM information_schema.table_constraints
        WHERE table_name = '{table_name}' AND constraint_type = 'FOREIGN KEY'
        """
        fks = conn.execute(fk_query).fetchall()
        for fk in fks:
            drop_fk_query = f"ALTER TABLE {table_name} DROP CONSTRAINT {fk[0]}"
            conn.execute(drop_fk_query)

# Eliminar restricciones de clave externa antes de reemplazar tablas
for table_name in table_names:
    drop_foreign_keys(table_name)

# Cargar cada archivo CSV en su respectiva tabla en SQL Server
for csv_file, table_name in zip(csv_files, table_names):
    df = pd.read_csv(csv_file)
    df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

# Verificacin opcional: Mostrar las primeras filas de cada tabla cargada
for table_name in table_names:
    query = f"SELECT TOP 5 * FROM {table_name}"
    with engine.connect() as connection:
        result = connection.execute(query)
        print(f"Primeras filas de la tabla {table_name}:")
        for row in result:
            print(row)

ObjectNotExecutableError: Not an executable object: "\n        SELECT constraint_name\n        FROM information_schema.table_constraints\n        WHERE table_name = 'SalesDetail' AND constraint_type = 'FOREIGN KEY'\n        "

In [46]:
import pandas as pd
from sqlalchemy import create_engine
import urllib

# Define tu servidor y base de datos
server = 'localhost\\SQLEXPRESS'
database = 'DrinksBasket'

# Forma la cadena de conexin con urllib
params = urllib.parse.quote_plus(
    f"DRIVER={{ODBC Driver 17 for SQL Server}};"
    f"SERVER={server};"
    f"DATABASE={database};"
    "Trusted_Connection=yes;"
)

# Crea el motor de conexin
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

# Lista de archivos CSV y nombres de tablas
csv_files = ['SalesDetail.csv', 'Sales.csv', 'Inventory.csv', 'Purchases.csv', 'InvoicePurchases.csv', 'Suppliers.csv']
table_names = ['SalesDetail', 'Sales', 'Inventory', 'Purchases', 'InvoicePurchases', 'Suppliers']

# Cargar cada archivo CSV en su respectiva tabla en SQL Server
for csv_file, table_name in zip(csv_files, table_names):
    df = pd.read_csv(csv_file)
    df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

# Verificacin opcional: Mostrar las primeras filas de cada tabla cargada
for table_name in table_names:
    query = f"SELECT TOP 5 * FROM {table_name}"
    with engine.connect() as connection:
        result = connection.execute(query)
        print(f"Primeras filas de la tabla {table_name}:")
        for row in result:
            print(row)

ProgrammingError: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Could not drop object 'Inventory' because it is referenced by a FOREIGN KEY constraint. (3726) (SQLExecDirectW)")
[SQL:
DROP TABLE [Inventory]]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
#Paso 4: Verificar la carga de datos
#Para asegurarte de que los datos se hayan cargado correctamente, puedes hacer una consulta simple a la base de datos:
# Consulta para verificar los datos
query = f"SELECT TOP 5 * FROM {table_name}"
with engine.connect() as connection:
    result = connection.execute(query)
    for row in result:
        print(row)

In [ ]:
#Paso 5: Automatizar la ingesta de nuevos datos
#Para automatizar la ingesta de datos nuevos, podras programar un script que se ejecute peridicamente. Aqu tienes un esquema bsico de cmo podra verse tu script de automatizacin:
import pandas as pd
from sqlalchemy import create_engine
import urllib
# Reemplaza los valores con los de tu base de datos
username = 'tu_usuario'
password = 'tu_contrasea'
server = 'tu_servidor'
database = 'tu_base_de_datos'
# Crea la cadena de conexin
connection_string = f"DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"
params = urllib.parse.quote_plus(connection_string)
# Crea el motor de conexin
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")
# Funcin para cargar nuevos datos
def cargar_nuevos_datos():
    # Aqu ira tu lgica para obtener los nuevos datos
    nuevos_datos = pd.read_csv('ruta_a_nuevos_datos.csv')  # Ejemplo
    # Cargar nuevos datos en la tabla SQL
    nuevos_datos.to_sql(name='nombre_de_tu_tabla', con=engine, if_exists='append', index=False)
# Programa el script para que se ejecute automticamente
if __name__ == '__main__':
    cargar_nuevos_datos()